.card a:hover {
    text-decoration: none;
}
.setting-card {
    border-color: #fff;
    border-width: 3px;
}
.setting-card:hover {
    background-color: #f9fafc;
}
.setting-card:hover .setting-icon {
    background-color: #e0e3e8;
}
.setting-card:hover .setting-title {
    color: #224d84;
}
.setting-title {
    color: #2f6eb5;
}
.setting-description {
    color: #6d7174;
}